setuptools
pandas
numpy 
langchain
black
pylint
openai
python-dotenv
streamlit
dotenv
watchdog
langchain-community
langchain-openai
gcloud
google-cloud-firestore
langchain-google-firestore
langchain-chroma
protobuf==3.20.3